<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      formControlName="username"
      id="username"
      type="text"
      class="form-control"
    />
    <div *ngIf="username?.touched && username?.invalid" class="error-alert">
        <div class="" *ngIf="username?.errors?.['required']"> Username is required </div>
        <div *ngIf="username?.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      type="text"
      class="form-control"
    />
  </div>
  <p>{{username?.value}}</p>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
